.header{
    width: 100%;
    padding: 50px 160px 60px;
    display: flex;
    justify-content: space-between;
    color: $Main-regular-light;
    box-sizing: border-box;

    @media screen and (max-width: 1919px){
        padding-left: 60px;
        padding-right: 60px;
    }
    @media screen and (max-width: 1023px){
        flex-direction: column;
        padding-top: 105px;
        position: relative;
    }
    @media screen and (max-width: 767px){
        flex-direction: row;
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 22px;
        padding-bottom: 30px;
    }
}
.header__logo{
    display: block;
    width: 130px;
    height: 60px;
    background-image: url(../img/Logo.svg);
    text-indent: -9999999px;
    overflow: hidden;

    @media screen and (max-width: 1023px){
        margin-bottom: 30px;
    }
    @media screen and (max-width: 767px){
        margin-bottom: 0;
    }
}
.header__logo.logo-services{
    display: block;
    width: 302px;
    height: 60px;
    background: url(../img/Logo-services.svg)50% 50% no-repeat;
    background-size: contain;
    text-indent: -9999999px;
    overflow: hidden;

    @media screen and (max-width: 1023px){
        margin-bottom: 30px;
    }
    @media screen and (max-width: 767px){
        margin-bottom: 0;
        width: 170px;   
    }
}

.header__logo.logo-about {
    display: block;
    width: 318px;
    height: 60px;
    background: url(../img/Logo-about.svg)50% 50% no-repeat;
    background-size: contain;
    text-indent: -9999999px;
    overflow: hidden;

    @media screen and (max-width: 1023px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 0;
        width: 177px;
    }
}

.header__logo.logo-team {
    display: block;
    width: 254px;
    height: 60px;
    background: url(../img/Logo-team.svg)50% 50% no-repeat;
    background-size: contain;
    text-indent: -9999999px;
    overflow: hidden;

    @media screen and (max-width: 1023px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 0;
        width: 142px;
    }
}
.header__logo.logo-publications {
    display: block;
    width: 382px;
    height: 60px;
    background: url(../img/Logo-publications.svg)50% 50% no-repeat;
    background-size: contain;
    text-indent: -9999999px;
    overflow: hidden;

    @media screen and (max-width: 1023px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 0;
        width: 213px;
    }
}
.header__logo.logo-contact {
    display: block;
    width: 297px;
    height: 60px;
    background: url(../img/Logo-contact.svg)50% 50% no-repeat;
    background-size: contain;
    text-indent: -9999999px;
    overflow: hidden;

    @media screen and (max-width: 1023px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 0;
        width: 166px;
    }
}
.header__logo-link{
    display: block;
    width: 100%;
    height: 100%;
}
.header__chapter{
    color: $Main-regular-light;
    font-size: 36px;
    line-height: 44px;
}
.header__box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 1023px){
        align-items: flex-start;
    }
}
.header__top{
    padding: 0 0 16px;
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    @media screen and (max-width: 1023px){
        position: absolute;
        top: 50px;
        left: 60px;
    }
    @media screen and (max-width: 767px){
        background: rgba(245, 245, 250, 0.2);
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 15px;
        justify-content: space-between;
    }
}
.header__lang-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__lang-link{
    display: block;
    padding: 5px 7px;
    text-decoration: none;
    color: $Main-regular-light;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
.header__lang-link:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}
.header__lang-link.header__lang-link_active{
    background-color: $Accent;
    color: $Main-regular-light;
    border-radius: 8px;
}
.header__address.address{
    font-style: normal;
    line-height: 20px;
    padding: 2px 0;
    position: relative;

    @media screen and (max-width: 767px){
        display: none;
    }
}
.with-dot::before{
    content: " ";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $Grey-separator;
    left: -11px;
    top: 8px;
    position: absolute;
    @media screen and (max-width: 767px){
        display: none;
    }
}
.header__tel.tel{
    display: block;
    text-decoration: none;
    color: $Main-regular-light;
    font-weight: 700;
    line-height: 20px;
    height: 24px;
    padding: 2px 0;
    position: relative;
    box-sizing: border-box;
}
.header__tel.tel:hover{
    border-bottom: 2px solid $Main-regular-light;
}
.Header__social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    text-decoration: none;
    text-align: center;
    position: relative;

    @media screen and (max-width: 767px){
        display: none;
    }
}
.Header__social-link:hover path{
    fill: $Accent;
}
.header__nav{ 
    position: relative;
    &.active{
        box-sizing: border-box;
        transition: 0.3s ease-in-out all;
        @media screen and (max-width: 767px){
            .header__nav-holder-mobile{
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
                height: 100vh;
                width: 100vw;
                padding: 0 15px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background: rgba(50, 50, 100, 0.5);
                box-sizing: border-box;
                animation: move 0.5s linear alternate;
                @keyframes move {
                0% {
                   top: 600px;
                }
                100% {
                   top: 0px;
                }
                }
                @media screen and (max-width: 400px){
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
            .header__nav-holder{
                display: flex;
                flex-direction: column;
                position: relative;
                background-color: $Main-regular-light;
                border-radius: 12px 12px 0 0;
                max-height: 100vh;
                box-sizing: border-box;
                padding: 12px;
                margin: 0;
                overflow: hidden;
            }
            .header__nav-list{
                margin: 0;
                padding: 0;
                display: block;
                text-align: center;
                box-sizing: border-box;
            }
            .header__nav-btn{
                background-color: $Grey-separator;
                border-radius: 8px;
            }
            .header__nav-close{
                align-self: flex-end;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                padding: 0;
                box-sizing: border-box;
                margin-bottom: 20px;
                background-color: $Main-regular-light;
                border: none;
                cursor: pointer;
                transition: 0.3s ease-in-out all;        
            }
            .header__nav-close:hover{
                background-color: $Grey-separator;
                border-radius: 8px; 
            }
            .header__nav-item{
                display: block;
                box-sizing: border-box;
                margin-bottom: 15px;
            }
            .header__nav-item:last-child{
                margin-bottom: 0;
            }
            .header__nav-link{
                display: block;
                background-color: $Grey-bg;
                color: $Active-regular;
                min-width: 335px;
                font-size: 24px;
                line-height: 30px;
                padding: 5px 0;
                border-radius: 12px;
                box-sizing: border-box;
                transition: 0.3s ease-in-out all;
            }
            .header__nav-link:hover{
                border: none;
                color: $Accent;
            }
            #activete{
                color: $Active-regular;
                background-color: $Grey-separator;
                border: none;
            }
        } 
    }  
}
.header__nav-btn{
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: $Main-regular;
    display: none;
    cursor: pointer; 
    @media screen and (max-width: 767px){
        display: flex;
    }
}
.span-nav{
    height: 2px;
    width: 18px;
    background-color: $Main-regular-light;
}
.header__nav-close{
    display: none;
}
.header__nav-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    @media screen and (max-width: 767px){
        display: none;
    }
}
.header__nav-link{
    text-decoration: none;
    color: $Main-regular-light;
    font-weight: 700;
    line-height: 20px;
}
.header__nav-link:hover{
    border-bottom: 2px solid $Main-regular-light;
}
#activete{
    color: $Accent;
    border-bottom: 2px solid $Accent;
}