.content {
    padding: 0 280px;

    @media screen and (max-width: 1919px) {
        padding-left: 180px;
        padding-right: 180px;
    }

    @media screen and (max-width: 1439px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media screen and (max-width: 767px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.content__info-box {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    padding: 0 0 60px;
    margin: 0 0 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}

.content__info-text {
    font-size: 19px;
    line-height: 30px;
    color: $Main-regular-light;
}
.content__list-heading {
    font-weight: 700;
    font-size: 22px;
    color: $Main-regular-light;
    margin: 0 0 30px;
    padding: 0;
}

.content__list-box {
    padding-left: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 74px;

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

.content__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content__item {
    font-size: 18px;
    color: $Main-regular-light;
    position: relative;
    padding-bottom: 15px;
}

.content__item:last-child {
    padding-bottom: 0;
}

.content__item::before {
    content: " ";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $Accent;
    position: absolute;
    top: 12px;
    left: -14px;
}