$Main-regular: #323264;
$Main-regular-light:#ffffff;
$Main-regular-dark:#000000;
$Main-alt:#46466E;
$Main-soft: #686887;
$Accent: #F0145A;
$Active-regular: #24A3FF;
$Active-hover: #0085FF;
$Active-active: #006CCF;
$Grey-bg: #F5F5FA;
$Grey-alt: #EDEDF7;
$Grey-text: #B3B3BA;
$Grey-separator:#E6E6F0;
$Gradient-regular: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$Gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$Gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$Gradient-Supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$Gradient-Red-Text: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$Gradient-Red-Text-reverse:linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);

$Main-font:'Montserrat', sans-serif;